$dark-red: #8D0005;
$red: #C20015;
$light-red: #E23E4A;
$red-shadow: #610209;
$dark-blue: #1C3CDF;
$blue: #3175F1;
$sky-blue: #46D5EE;
$bright-blue: #9DF3F9;
$yellow: #FFCA41;
$light-grey: #B0B0B0;
$grey: #494949;
$light-black: #222222;
$black: #111111;
$dark-green: #004B48;
$light-green: #00776C;
$lemon-green: #079D2F;
$light-lemon-green: #8FF67D;
$orange: #DE4522;
$white: #ffffff;
