@font-face {
  font-family:"Pokemon";
  src: url('assets/fonts/pokemon/PokemonHollow.ttf');
}

@font-face {
  font-family:"Pokemon-bold";
  src: url('assets/fonts/pokemon/PokemonSolid.ttf');
}

@font-face {
  font-family:"Comics";
  src: url('assets/fonts/comics/SFCartoonistHand.ttf');
}
