.header {
  display: flex;
  align-items: center;
  margin-left: -35px;
  padding-left: 40px;
  width: 99%;
  max-width: 95%;
  padding-right: 40px;
  background-color: rgba(38,38,38,0.5);
  position: fixed;
  box-shadow: -4px 6px 9px -2px $black;

  @media only screen and (max-width : 480px) {
    flex-direction: column;
    padding-left: 0;
  }

  @media (min-width : 481px) and (max-width : 768px) {
    padding-left: 20px;
  }

  &__title,
  select {
    flex: 25%;
  }

  &__title {
    font-family: "Pokemon-bold";
    color: $yellow;
    -webkit-text-stroke: 2px $blue;
    -moz-text-stroke: 2px $blue;
    -o-text-stroke: 2px $blue;
    -ms-text-stroke: 2px $blue;
    font-size: 5em;
    transform: rotate(-15deg);
    background-image: url('assets/images/snorlax.png');
    background-repeat: no-repeat;
    background-position: bottom;
    line-height: 300px;
    margin-top: -66px;
    margin-bottom: 0px;
    @media only screen and (max-width : 480px) {
      line-height: 90px;
      margin-top: 0px;
      transform: rotate(0deg);
      background-size: 50px;
      background-position: right;
      width: 55vw;
      font-size: 40px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
      font-size: 3em;
      background-size: 80px;
      line-height: 200px;
      margin-top: -35px;
    }
  }

  div {
    flex: 50%;
  }

  &__search {
    width: 90% !important;
    font-size: 24px !important;
    @media only screen and (max-width : 480px) {
      font-size: 14px !important;
      margin-top: -40px;
    }

    label {
      color: $white !important;
    }

    input {
      color: $white !important;
    }

    @media (min-width : 481px) and (max-width : 768px) {
      font-size: 18px !important;
    }
  }

  &__select {
    height: 30px;
    margin-top: 25px;
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    color: $white;
    border-bottom: 1px solid $white;
    border-radius: 0;
    font-size: 24px;
    background-image: url('assets/images/select.png');
    background-repeat: no-repeat;
    background-position: right;

    @media only screen and (max-width : 480px) {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 14px;
      width: 61vw;
      margin-left: -25px;
    }

    @media (min-width : 481px) and (max-width : 768px) {
      font-size: 18px;
    }
  }

}
